*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Times New Roman', Times, serif;
}

main{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin: auto;
}

article{
    display: flex;
}

article p{
    font-size: 2rem;
    margin-right: 10px;
}